@using Sitecore.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>SamplePage BasePageLayout</div>
        @Html.Sitecore().Placeholder("main")
    </body>
</html>
