<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore xmlns:patch="http://www.sitecore.net/xmlconfig/" role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="ESearch.Foundation.Indexing.Services.IIndexResolver, ESearch.Foundation.Indexing">
        <patch:attribute name="implementationType"></patch:attribute>
      </register>
      <register serviceType="ESearch.Foundation.Indexing.Services.ISearchQueryBuilder, ESearch.Foundation.Indexing">
        <patch:attribute name="implementationType"></patch:attribute>
      </register>
      <register serviceType="ESearch.Foundation.Indexing.Services.IFacetService, ESearch.Foundation.Indexing">
        <patch:attribute name="implementationType"></patch:attribute>
      </register>
      <register serviceType="ESearch.Foundation.Indexing.Services.ISearchService, ESearch.Foundation.Indexing">
        <patch:attribute name="implementationType"></patch:attribute>
      </register>
      <register serviceType="ESearch.Foundation.Indexing.Services.ISuggestionService, ESearch.Foundation.Indexing">
        <patch:attribute name="implementationType"></patch:attribute>
      </register>
    </services>
  </sitecore>
</configuration>
