<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="ESearch.Feature.SearchResultSummary.Repositories.ISearchResultSummaryRepository, ESearch.Feature.SearchResultSummary"
                implementationType="ESearch.Feature.SearchResultSummary.Repositories.SearchResultSummaryRepository, ESearch.Feature.SearchResultSummary"
                lifetime="Transient"/>
      <register serviceType="ESearch.Foundation.Indexing.Services.IQueryBuilder, ESearch.Foundation.Indexing"
                implementationType="ESearch.Foundation.Indexing.Dummy.Services.DummyQueryBuilder, ESearch.Foundation.Indexing.Dummy"
                lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>
