<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="ESearch.Foundation.Indexing.Services.IIndexResolver, ESearch.Foundation.Indexing"
                implementationType="ESearch.Foundation.Indexing.Services.DefaultIndexResolver, ESearch.Foundation.Indexing"
                lifetime="Transient"/>
      <register serviceType="ESearch.Foundation.Indexing.Services.ISearchQueryBuilder, ESearch.Foundation.Indexing"
                implementationType="ESearch.Foundation.Indexing.Services.DefaultSearchQueryBuilder, ESearch.Foundation.Indexing"
                lifetime="Transient"/>
      <register serviceType="ESearch.Foundation.Indexing.Services.IFacetService, ESearch.Foundation.Indexing"
                implementationType="ESearch.Foundation.Indexing.Services.DefaultFacetService, ESearch.Foundation.Indexing"
                lifetime="Transient"/>
      <register serviceType="ESearch.Foundation.Indexing.Services.ISearchService, ESearch.Foundation.Indexing"
                implementationType="ESearch.Foundation.Indexing.Services.DefaultSearchService, ESearch.Foundation.Indexing"
                lifetime="Transient"/>
      <register serviceType="ESearch.Foundation.Indexing.Services.ISuggestionService, ESearch.Foundation.Indexing"
                implementationType="ESearch.Foundation.Indexing.Services.DefaultSuggestionService, ESearch.Foundation.Indexing"
                lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>
