<#@ assembly name="$(SolutionDir)packages\Rainbow.Core.2.1.1\lib\net452\Rainbow.dll" #>
<#@ assembly name="$(SolutionDir)packages\Rainbow.Storage.Yaml.2.1.1\lib\net452\Rainbow.Storage.Yaml.dll" #>
<#@ assembly name="$(SolutionDir)packages\Sitecore.Kernel.9.2.0\lib\net471\Sitecore.Kernel.dll" #>
