<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Indexing" extends="Foundation.Serialization.Base" description="Indexing definition items" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <predicate>
            <include name="templates" database="master" path="/sitecore/templates/Foundation/ESearch">
              <exclude children="true">
                <except name="Indexing" />
              </exclude>
            </include>
            <include name="settings" database="master" path="/sitecore/system/Settings/ESearch">
              <exclude children="true">
                <except name="Search Settings" />
              </exclude>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
