<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="ESearch.Foundation.Indexing.Services.IIndexResolver, ESearch.Foundation.Indexing"
                implementationType="ESearch.Foundation.Indexing.Services.DefaultIndexResolver, ESearch.Foundation.Indexing"
                lifetime="Transient"/>
      <register serviceType="ESearch.Foundation.Indexing.Services.IQueryBuilder, ESearch.Foundation.Indexing"
                implementationType="ESearch.Foundation.Indexing.Services.DefaultQueryBuilder, ESearch.Foundation.Indexing"
                lifetime="Transient"/>
      <register serviceType="ESearch.Foundation.Indexing.Services.ISearchService, ESearch.Foundation.Indexing"
                implementationType="ESearch.Foundation.Indexing.Services.DefaultSearchService`1[[Sitecore.ContentSearch.SearchTypes.SearchResultItem, Sitecore.ContentSearch]], ESearch.Foundation.Indexing"
                lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>
