<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.SampleWebsite" extends="Foundation.Serialization.Base" description="SampleWebsite definition items" dependencies="Feature.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <predicate>
            <include name="templates" database="master" path="/sitecore/templates/Project/ESearch/Sample Website" />
            <include name="renderings" database="master" path="/sitecore/layout/Renderings/Project/ESearch/Sample Website" />
            <include name="layouts" database="master" path="/sitecore/layout/Layouts/Project/ESearch/Sample Website" />
            <include name="placeholder settings" database="master" path="/sitecore/layout/Placeholder Settings/Project/ESearch/Sample Website" />
            <include name="images" database="master" path="/sitecore/media library/Project/ESearch/Sample Website" />
            <!-- 後で有効化する
            <include name="website" database="master" path="/sitecore/content/ESearch Sample" />
            -->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
