<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <sites>
      <site patch:before="site[@name='website']"
            inherits="website"
            name="esearchsample"
            language="en"
            hostName="esearch.example.com"
            rootPath="/sitecore/content/ESearch Sample"
            startItem="/Search"/>
    </sites>
  </sitecore>
</configuration>
