@using ESearch.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Links;
@model ESearch.Feature.SortIndicator.Models.SortIndicatorModel
<div class="component @Html.Sitecore().CurrentRendering.Parameters["Css Class"]">
    <div class="esearch esearch-sort-indicator">
        @if (Model.SortItems.Length > 0)
        {
            <select name="sortItem" onChange="location.href=value;">
                @foreach (var item in Model.SortItems)
                {
                    if (Model.TargetField == item["Field Name"])
                    {
                        <option value=@Model.GetSortLink(item["Field Name"], Model.Direction) selected="selected">@item["Display Name"]</option>
                    }
                    else
                    {
                        <option value=@Model.GetSortLink(item["Field Name"], Model.Direction)>@item["Display Name"]</option>
                    }
                }
            </select>
            <select name="sortType" onChange="location.href=value;">
                @if (Model.Direction == ESearch.Foundation.Indexing.Models.SortDirection.Asc)
                {
                    <option value=@Model.GetSortLink(Model.TargetField, ESearch.Foundation.Indexing.Models.SortDirection.Asc) selected="selected">asc</option>
                    <option value=@Model.GetSortLink(Model.TargetField, ESearch.Foundation.Indexing.Models.SortDirection.Desc)>desc</option>
                }
                else
                {
                    <option value=@Model.GetSortLink(Model.TargetField, ESearch.Foundation.Indexing.Models.SortDirection.Asc)>asc</option>
                    <option value=@Model.GetSortLink(Model.TargetField, ESearch.Foundation.Indexing.Models.SortDirection.Desc) selected="selected">desc</option>
                }
            </select>
        }
    </div>
</div>
