<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.SearchResultSummary" extends="Foundation.Serialization.Base" description="SearchResultSummary definition items" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <predicate>
            <include name="templates" database="master" path="/sitecore/templates/Feature/ESearch">
              <exclude children="true">
                <except name="Search Result Summary" />
              </exclude>
            </include>
            <include name="renderings" database="master" path="/sitecore/layout/Renderings/Feature/ESearch">
              <exclude children="true">
                <except name="Search Result Summary" />
              </exclude>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
